.night #colorTop, .night #colorBottom, .night #colorTLeft, .night #colorTRight, .night #colorBLeft, .night #colorBRight, .night #buttonBox {
    background-color: midnightblue;
}

.night #colorBottom{
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: nightDawnBottom;
}

.night #colorBRight, .night #colorBLeft, .night #buttonBox {
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: nightDawnBMiddle;
}

.night #colorTRight, .night #colorTLeft {
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: nightDawnTMiddle;
}

.night #colorTop {
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: nightDawnTop;
}

@keyframes nightDawnBottom {
    0% {
        background-color: midnightblue;
    }

    25% {
        background-color: rgb(110, 219, 255);
    }

    50% {
        background-color: lightskyblue;
    }

    75%{
        background-color: #ddc9d8;
    }

    100%{
        background-color: #c0fedd;
    }
}

@keyframes nightDawnBMiddle {
    0% {
        background-color: midnightblue;
    }

    50%{
        background-color: rgb(110, 219, 255);
    }

    75%{
        background-color: lightskyblue;
    }

    100%{
        background-color: #ddc9d8;
    } 
}

@keyframes nightDawnTMiddle {
    0% {
        background-color: midnightblue;
    }
    
    75% {
        background-color: rgb(110, 219, 255);
    }

    100% {
        background-color: lightskyblue;
    }
}

@keyframes nightDawnTop {
    0% {
        background-color: midnightblue;
    }

    100% {
        background-color: rgb(110, 219, 255);
    }
}

.dawn #colorTop {
    background-color: rgb(110, 219, 255);
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: dawnDayTop;
}

.dawn #colorTLeft, .dawn #colorTRight {
    background-color: lightskyblue;
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: dawnDayTMiddle;
}

.dawn #colorBLeft, .dawn #colorBRight, .dawn #buttonBox{
    background-color: #ddc9d8;
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: dawnDayBMiddle;
}

.dawn #colorBottom {
    background-color: #c0fedd;
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: dawnDayBottom;
}

@keyframes dawnDayBottom {
    0% {
        background-color: #c0fedd;
    }

    25% {
        background-color: #ddc9d8;
    }

    50% {
        background-color: lightskyblue;
    }

    75%{
        background-color: rgb(110, 219, 255);
    }

    100%{
        background-color: deepskyblue;
    }
}

@keyframes dawnDayBMiddle {
    0% {
        background-color: #ddc9d8;
    }

    50%{
        background-color: lightskyblue;
    }

    75%{
        background-color: rgb(110, 219, 255);
    }

    100%{
        background-color: deepskyblue;
    } 
}

@keyframes dawnDayTMiddle {
    0% {
        background-color: lightskyblue;
    }

    75% {
        background-color: rgb(110, 219, 255);
    }

    100% {
        background-color: deepskyblue;
    }
}

@keyframes dawnDayTop {
    0% {
        background-color: rgb(110, 219, 255);
    }

    50%{
        background-color: rgb(52, 204, 255);
    }

    100% {
        background-color: deepskyblue;
    }
}

.day #colorTop, .day #colorBottom, .day #colorTLeft, .day #colorTRight, .day #colorBLeft, .day #colorBRight, .day #buttonBox {
    background-color: deepskyblue;
}

.day #colorBottom{
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: dayDuskBottom;
}

.day #colorBRight, .day #colorBLeft, .day #buttonBox {
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: dayDuskBMiddle;
}

.day #colorTRight, .day #colorTLeft {
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: dayDuskTMiddle;
}

.day #colorTop {
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: dayDuskTop;
}

@keyframes dayDuskBottom {
    0% {
        background-color: deepskyblue;
    }

    100%{
        background-color: #61D095;
    }
}

@keyframes dayDuskBMiddle {
    0% {
        background-color: deepskyblue;
    }

    100%{
        background-color: #0658a4;
    } 
}

@keyframes dayDuskTMiddle {
    0% {
        background-color: deepskyblue;
    }
    
    75% {
        background-color: #0658a4;
    }

    100% {
        background-color: #094bae;
    }
}

@keyframes dayDuskTop {
    0% {
        background-color: deepskyblue;
    }

    50%{
        background-color: #0658a4; 
    }

    75%{
        background-color: #094bae;
    }

    100%{
        background-color: rgb(44, 44, 192);
    } 
}

.dusk #colorTop {
    background-color: rgb(44, 44, 192);
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: duskNightTop;
}

.dusk #colorTLeft, .dusk #colorTRight {
    background-color: #094bae;
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: duskNightTMiddle;
}

.dusk #colorBLeft, .dusk #colorBRight, .dusk #buttonBox {
    background-color: #0658a4;
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: duskNightBMiddle;
}

.dusk #colorBottom {
    background-color: #61D095;
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-duration: 24s;
    animation-name: duskNightBottom;
}

@keyframes duskNightBottom {
    0% {
        background-color: #61D095;
    }

    25% {
        background-color: #0658a4;
    }

    50% {
        background-color: #094bae;
    }

    75%{
        background-color: rgb(44, 44, 192);
    }

    100%{
        background-color: midnightblue;
    }
}

@keyframes duskNightBMiddle {
    0% {
        background-color: #0658a4;
    }

    50%{
        background-color: #094bae;
    }

    75%{
        background-color: rgb(44, 44, 192);
    }

    100%{
        background-color: midnightblue;
    } 
}

@keyframes duskNightTMiddle {
    0% {
        background-color: #094bae;
    }
    
    75% {
        background-color: rgb(44, 44, 192);
    }

    100% {
        background-color: midnightblue;
    }
}

@keyframes duskNightTop {
    0% {
        background-color: rgb(44, 44, 192);
    }

    100% {
        background-color: midnightblue;
    }
}

h1 {
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, auto);
}

section p {
    text-align: center;
}

/* section {
    border: solid 2px black;
} */

#colorTop {
    display: grid;
    grid-column: 1/4;
    grid-row: 1;
    min-height: 20vh;
    border-top: solid 4px black;
    border-left: solid 4px black;
    border-right: solid 4px rgb(1, 1, 1);
    background-color: midnightblue;
}

#colorTLeft {
    display: grid;
    grid-column: 1/2;
    grid-row: 2;
    border-left: solid 4px black;
    background-color: midnightblue;
}

#colorBLeft {
    display: grid;
    grid-column: 1/2;
    grid-row: 4;
    border-left: solid 4px black;
    background-color: midnightblue;
}

#colorTRight {
    display: grid;
    grid-column: 3/4;
    grid-row: 2;
    border-right: solid 4px black;
    background-color: midnightblue;
}

#colorBRight {
    display: grid;
    grid-column: 3/4;
    grid-row: 4;
    min-height: 30vh;
    border-right: solid 4px black;
    background-color: midnightblue;
}

#colorBottom {
    display: grid;
    grid-column: 1/4;
    grid-row: 5;
    min-height: 10vh;
    border-left: solid 4px black;
    border-right: solid 4px black;
    border-bottom: solid 4px black;
    background-color: midnightblue;
}

#buttonBox {
    display: grid;
    grid-column: 2;
    grid-row: 4;
    background-color: midnightblue;
}

#pageButton {
    display: grid;
    grid-column: 1/4;
    grid-row: 3;
    border-top: solid 4px black;
    border-left: solid 10px black;
    border-right: solid 10px black;
    border-bottom: solid 10px black;
    background-color: gray;
}

#textBox {
    grid-column: 2;
    grid-row: 2/3;
    width: 500px;
}

.boxStyling {
    min-height: 60vh;
    border: solid 6px black;
    background-color: rgb(72, 69, 69);
    color: rgb(204, 182, 15);
}

.hidden {
    display: none;
}

button {
    background-color: #8F95D3;
    color: black;
    padding: 5px 10px;
    border: solid 2px #634B66;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.long {
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
}