html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



/* create additional rules below:  */

main section {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
}

#home {
    background-color: coral;
}

#bio {
    background-color: chocolate ;
}

#portfolio {
    background-color: rgb(200, 19, 55);
}

#contact {
    background-color: brown;
}